*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #222;
}

canvas {
    border: 2px dotted #a5a5a5;
    display: block;
    width: 80%;
    height: 80vh;
}